// Global
@import "variables";
@import "mixins";
@import "reset";
@import "grid";
@import "helpers";

// Componentes UI
@import "components-ui/backgrounds";
@import "components-ui/icons";
@import "components-ui/buttons";
@import "components-ui/text";
@import "components-ui/forms";
@import "components-ui/loader";

// Componentes
@import "components/user-menu";

// Paginas
@import "pages/notificaciones";

html, body, main{
	min-height:100vh;
}

[v-cloak] > * { display:none }

main{
	display: flex;
	.wrapper{
		width:100%;
	}
}

body, textarea, input, p, label, span, th, td{
	font-family: 'Open Sans', sans-serif;
}
body{background:#f9f9f9;}

.dashboard-box{
	@include transition;
	&:hover{
		box-shadow: 0 0 36px 0 rgba(154, 161, 171, 0.3);
	}
}

.fade{
	&-enter-active, &-leave-active{
		@include transition;
	}
	&-enter, &-leave-to{opacity: 0;}
}
