$color-primary: #D94F5C;
$color-primary-hover: #B1424C;
$color-secondary: #063E6F;
$color-secondary-hover: #002D5E;

//$color-text: #69727A;
$color-text: #777;

$color-success: #4caf52;
$color-error: #f44236;
$color-info: #00bcd5;
$color-pending: #eeac57;
$color-blue: #3776ab;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;