.bg{
	&-main{background-color: $color-primary}
	&-orange{background-color:#f0ad4e;}
	&-green{background-color:#45B68A;}
	&-grey{background-color: #7F8894}
	&-purple{background-color:#b565a7;}
	&-yellow{background-color:#ebc83d;}
	&-dark-blue{background-color: #3776ab;}
	&-cyan{background-color:#5bc0de;}
}